@page
@model ProgrammingLanguageTraining.Pages.CourseDetailModel
@{
    ViewData["Title"] = "Course";
}
@if (Request.Query["coursename"] == "HTML5")
{
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="mb-40">
                    <img class="w-100 rounded" src="images/courses/07.jpg" alt="">
                </div>

                <h2>HTML5 - For Absolute Beginner</h2>
                <img role="img" src="https://f.ch9.ms/thumbnail/8cad82be-a0f5-4b45-82ec-74567b666b13.png" alt="HTML5 &amp; CSS3 Fundamentals: Development for Absolute&nbsp;Beginners">
                <p>
                    The aim is to show you ‘how’ to create your first web page without spending the entire tutorial focusing too much on the “why.”

                    By the end of this tutorial, you will have the know-how to create a basic website and we hope that this will inspire you to delve further into the world of HTML using our follow-on guides.


                </p>

                <h5 class="program-title">Course program</h5>

                <div id="accordion01" role="tablist" class="course-tab bordered rounded">

                    <div class="tab-padding">
                        <div role="tab" id="collapse02_header">
                            <h6 class="tab-header">
                                <a class="collapsed fw-700" data-toggle="collapse" href="#collapse02" aria-expanded="true" aria-controls="collapse02">

                                    Instructor Contact Information
                                </a>
                            </h6>
                            <span class="author-course">Autor course:<strong> Habiba Bint Mohammad Nazim Khan</strong> </span>
                        </div>
                        <div id="collapse02" class="collapse" role="tabpanel" aria-labelledby="collapse02_header" data-parent="#accordion01">
                            <div class="card-body">

                                Habiba is a developer, instructor, writer, podcaster, and technical evangelist of all things awesome. She is also a Microsoft ASP.NET MVP and ASP Insider. She is often found speaking at user groups and industry events, and in her spare time she enjoys looking for a haystack to hide her prized needle collection.
                            </div>
                        </div>
                    </div>

                    <div class="tab-padding">
                        <div role="tab" id="collapse01_header">
                            <h6 class="tab-header">
                                <a class="fw-700" data-toggle="collapse" href="#collapse01" aria-expanded="true" aria-controls="collapse01">

                                    Objectives
                                </a>
                            </h6>
                        </div>
                        <div id="collapse01" class="collapse show" role="tabpanel" aria-labelledby="collapse01_header" data-parent="#accordion01">
                            <div class="card-body">
                                The aim is to show you ‘how’ to create your first web page without spending the entire tutorial focusing too much on the “why.” By the end of this tutorial, you will have the know-how to create a basic website and we hope that this will inspire you to delve further into the world of HTML using our follow-on guides.
                            </div>
                        </div>
                    </div>


                    <div class="tab-padding">
                        <div role="tab" id="collapse04_header">
                            <h6 class="tab-header">
                                <a class="fw-700" data-toggle="collapse" href="#collapse04" aria-expanded="false" aria-controls="collapse04">

                                    Video Tutorials
                                </a>
                            </h6>
                        </div>
                        <div id="collapse04" class="collapse " role="tabpanel" aria-labelledby="collapse04_header" data-parent="#accordion01">
                            <div class="card-body">


                                <iframe src="https://channel9.msdn.com/Series/HTML5-CSS3-Fundamentals-Development-for-Absolute-Beginners/Embedding-Video-in-HTML5-18/player" width="320" height="187" allowFullScreen frameBorder="0" title="Embedding Video in HTML5 - 18 - Microsoft Channel 9 Video"></iframe>

                                <iframe src="https://channel9.msdn.com/Series/HTML5-CSS3-Fundamentals-Development-for-Absolute-Beginners/Working-with-CSS3-Font-Face-17/player" width="320" height="187" allowFullScreen frameBorder="0" title="Working with CSS3 Font-Face - 17 - Microsoft Channel 9 Video"></iframe>
                                <iframe src="https://channel9.msdn.com/Series/HTML5-CSS3-Fundamentals-Development-for-Absolute-Beginners/Embedding-Video-in-HTML5-18/player" width="320" height="187" allowFullScreen frameBorder="0" title="Embedding Video in HTML5 - 18 - Microsoft Channel 9 Video"></iframe>

                                <iframe src="https://channel9.msdn.com/Series/HTML5-CSS3-Fundamentals-Development-for-Absolute-Beginners/Working-with-CSS3-Font-Face-17/player" width="320" height="187" allowFullScreen frameBorder="0" title="Working with CSS3 Font-Face - 17 - Microsoft Channel 9 Video"></iframe>
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/n-WArb2W9XQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>

                    <div class="tab-padding">
                        <div role="tab" id="collapse03_header">
                            <h6 class="tab-header">
                                <a class="collapsed fw-700" data-toggle="collapse" href="#collapse03" aria-expanded="false" aria-controls="collapse03">

                                    Training Evaultion
                                </a>
                            </h6>

                        </div>
                        <div id="collapse03" class="collapse" role="tabpanel" aria-labelledby="collapse03_header" data-parent="#accordion01">
                            <div class="card-body">
                                <div class="panel-heading card-header">
                                    <h3>

                                        <span style="position: static;">Static Questionnaire</span>

                                    </h3>

                                </div>
                                <div class="container my-1">
                                    <div class=" pt-2">
                                        <div class="py-2 h5"><b>Q1. Which of the following browser supports HTML5 in its latest version?</b></div>
                                        <div class="ml-md-3 ml-sm-3 pl-md-5 pt-sm-0 pt-3" id="options">
                                            <label class="label"><input type="checkbox" name="radio">  Apple Safari </label> <br />
                                            <label class="label"><input type="checkbox" name="radio">  Google Chrome </label>  <br />
                                            <label class="label"><input type="checkbox" name="radio"> Both of the above  </label> <br />
                                            <label class="label"><input type="checkbox" name="radio"> None of the above</label> <br />
                                        </div>
                                    </div>
                                    <div class="pt-2">
                                        <div class="py-2 h5"><b>Q2. What are some of the common lists that can be used when designing a page?</b></div>
                                        <div class="ml-md-3 ml-sm-3 pl-md-5 pt-sm-0 pt-3" id="options">
                                            <label class="label"><input type="checkbox" name="checkbox">  ordered list</label> <br />
                                            <label class="label"><input type="checkbox" name="checkbox">  unordered list </label>  <br />
                                            <label class="label"><input type="checkbox" name="checkbox"> definition list  </label> <br />
                                            <label class="label"><input type="checkbox" name="checkbox"> All of the given options</label> <br />
                                        </div>
                                    </div>
                                    <div class="pt-2">
                                        <div class="py-2 h5"><b>Q3. Which of the following input control is used for input fields that should contain an e-mail address?</b></div>
                                        <div class="ml-md-3 ml-sm-3 pl-md-5 pt-sm-0 pt-3" id="options">
                                            <label class="label"><input type="radio" name="radio">  email</label> <br />
                                            <label class="label"><input type="radio" name="radio">  url </label>  <br />
                                            <label class="label"><input type="radio" name="radio"> number </label> <br />
                                            <label class="label"><input type="radio" name="radio"> range</label> <br />
                                        </div>
                                    </div>
                                    <div class=" pt-2">
                                        <div class="py-2 h5"><b>Q4.  ___________is not a HTML5 tag.</b></div>
                                        <div class="ml-md-3 ml-sm-3 pl-md-5 pt-sm-0 pt-3" id="options">
                                            <label class="label"><input type="radio" name="radio">   &lt;source&gt; </label> <br />
                                            <label class="label"><input type="radio" name="radio">   &lt;video&gt; </label>  <br />
                                            <label class="label"><input type="radio" name="radio">  &lt;slider&gt;  </label> <br />
                                            <label class="label"><input type="radio" name="radio">  &lt;All of the above&gt;</label> <br />
                                        </div>
                                    </div>
                                    <div class="d-flex align-items-center pt-3">
                                        <div class="ml-auto mr-sm-5"> <button class="btn btn-success" onclick="showScore();">Submit</button> </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div id="surveyContainer"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-lg-4 mb-4">
                <div class="row mb-4">
                    <div class="col-12 col-md-6 col-lg-12 popular">
                        <div class="card">
                            <div class="card-body">


                                <table class="table-course">
                                    <tbody>
                                        <tr>
                                            <th>Lectures:</th>
                                            <td>20 Lectures</td>
                                        </tr>
                                        <tr>
                                            <th>Language:</th>
                                            <td>English, Arabic</td>
                                        </tr>

                                        <tr>
                                            <th>Duration:</th>
                                            <td>30 Days</td>
                                        </tr>
                                        <tr>
                                            <th>Includes:</th>
                                            <td>Personal support</td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="row " style="position: relative; ">
                    <div class="col-12 col-md-6 col-lg-12 popular">

                        <div class=" card ">

                            <div class="card-header">
                                Course Content
                            </div>


                            <div class="card-body">
                                <h6 class="card-title">
                                    Download
                                </h6>
                                <a href="http://www.okaloosaschools.com/lewis/sites/okaloosaschools.com.lewis/files/users/martinj1/1.%20Introduction%20to%20HTML5.ppt" class=" card-link btn btn-info">
                                    PPT
                                </a>
                                <a href="https://www.peachpit.com/content/images/9780321719614/samplepages/0321719611.pdf" class=" card-link btn btn-outline-info">
                                    TextBook
                                </a>
                            </div>

                        </div>

                    </div>
                </div>

            </div>
        </div>



    </div>
}
else if (Request.Query["coursename"] == "CSS3")
{
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="mb-40">
                    <img class="w-100 rounded" src="images/courses/07.jpg" alt="">
                </div>

                <h2>CSS3 - For Absolute Beginner</h2>
                <img role="img" src="https://f.ch9.ms/thumbnail/8cad82be-a0f5-4b45-82ec-74567b666b13.png" alt="HTML5 &amp; CSS3 Fundamentals: Development for Absolute&nbsp;Beginners">
                <p>
                    The aim is to show you ‘how’ to create your first web page without spending the entire tutorial focusing too much on the “why.”

                    By the end of this tutorial, you will have the know-how to create a basic website and we hope that this will inspire you to delve further into the world of HTML using our follow-on guides.


                </p>

                <h5 class="program-title">Course program</h5>

                <div id="accordion01" role="tablist" class="course-tab bordered rounded">

                    <div class="tab-padding">
                        <div role="tab" id="collapse02_header">
                            <h6 class="tab-header">
                                <a class="collapsed fw-700" data-toggle="collapse" href="#collapse02" aria-expanded="true" aria-controls="collapse02">

                                    Instructor Contact Information
                                </a>
                            </h6>
                            <span class="author-course">Autor course:<strong> Habiba Bint Mohammad Nazim Khan</strong> </span>
                        </div>
                        <div id="collapse02" class="collapse" role="tabpanel" aria-labelledby="collapse02_header" data-parent="#accordion01">
                            <div class="card-body">

                                Habiba is a developer, instructor, writer, podcaster, and technical evangelist of all things awesome. She is also a Microsoft ASP.NET MVP and ASP Insider. She is often found speaking at user groups and industry events, and in her spare time she enjoys looking for a haystack to hide her prized needle collection.
                            </div>
                        </div>
                    </div>

                    <div class="tab-padding">
                        <div role="tab" id="collapse01_header">
                            <h6 class="tab-header">
                                <a class="fw-700" data-toggle="collapse" href="#collapse01" aria-expanded="true" aria-controls="collapse01">

                                    Objectives
                                </a>
                            </h6>
                        </div>
                        <div id="collapse01" class="collapse show" role="tabpanel" aria-labelledby="collapse01_header" data-parent="#accordion01">
                            <div class="card-body">
                                The aim is to show you ‘how’ to create your first web page without spending the entire tutorial focusing too much on the “why.” By the end of this tutorial, you will have the know-how to create a basic website and we hope that this will inspire you to delve further into the world of HTML using our follow-on guides.
                            </div>
                        </div>
                    </div>


                    <div class="tab-padding">
                        <div role="tab" id="collapse04_header">
                            <h6 class="tab-header">
                                <a class="fw-700" data-toggle="collapse" href="#collapse04" aria-expanded="false" aria-controls="collapse04">

                                    Video Tutorials
                                </a>
                            </h6>
                        </div>
                        <div id="collapse04" class="collapse " role="tabpanel" aria-labelledby="collapse04_header" data-parent="#accordion01">
                            <div class="card-body">


                                <iframe src="https://channel9.msdn.com/Series/HTML5-CSS3-Fundamentals-Development-for-Absolute-Beginners/Embedding-Video-in-HTML5-18/player" width="320" height="187" allowFullScreen frameBorder="0" title="Embedding Video in HTML5 - 18 - Microsoft Channel 9 Video"></iframe>

                                <iframe src="https://channel9.msdn.com/Series/HTML5-CSS3-Fundamentals-Development-for-Absolute-Beginners/Working-with-CSS3-Font-Face-17/player" width="320" height="187" allowFullScreen frameBorder="0" title="Working with CSS3 Font-Face - 17 - Microsoft Channel 9 Video"></iframe>
                                <iframe src="https://channel9.msdn.com/Series/HTML5-CSS3-Fundamentals-Development-for-Absolute-Beginners/Embedding-Video-in-HTML5-18/player" width="320" height="187" allowFullScreen frameBorder="0" title="Embedding Video in HTML5 - 18 - Microsoft Channel 9 Video"></iframe>

                                <iframe src="https://channel9.msdn.com/Series/HTML5-CSS3-Fundamentals-Development-for-Absolute-Beginners/Working-with-CSS3-Font-Face-17/player" width="320" height="187" allowFullScreen frameBorder="0" title="Working with CSS3 Font-Face - 17 - Microsoft Channel 9 Video"></iframe>

                            </div>
                        </div>
                    </div>

                    <div class="tab-padding">
                        <div role="tab" id="collapse03_header">
                            <h6 class="tab-header">
                                <a class="collapsed fw-700" data-toggle="collapse" href="#collapse03" aria-expanded="false" aria-controls="collapse03">

                                    Training Evaultion
                                </a>
                            </h6>

                        </div>
                        <div id="collapse03" class="collapse" role="tabpanel" aria-labelledby="collapse03_header" data-parent="#accordion01">
                            <div class="card-body">
                                <div class="panel-heading card-header">
                                    <h3>

                                        <span style="position: static;">Static Questionnaire</span>

                                    </h3>

                                </div>
                                <div class="container my-1">
                                    <div class=" pt-2">
                                        <div class="py-2 h5"><b>Q1. Which of the following browser supports HTML5 in its latest version?</b></div>
                                        <div class="ml-md-3 ml-sm-3 pl-md-5 pt-sm-0 pt-3" id="options">
                                            <label class="label"><input type="checkbox" name="radio">  Apple Safari </label> <br />
                                            <label class="label"><input type="checkbox" name="radio">  Google Chrome </label>  <br />
                                            <label class="label"><input type="checkbox" name="radio"> Both of the above  </label> <br />
                                            <label class="label"><input type="checkbox" name="radio"> None of the above</label> <br />
                                        </div>
                                    </div>
                                    <div class="pt-2">
                                        <div class="py-2 h5"><b>Q2. What are some of the common lists that can be used when designing a page?</b></div>
                                        <div class="ml-md-3 ml-sm-3 pl-md-5 pt-sm-0 pt-3" id="options">
                                            <label class="label"><input type="checkbox" name="checkbox">  ordered list</label> <br />
                                            <label class="label"><input type="checkbox" name="checkbox">  unordered list </label>  <br />
                                            <label class="label"><input type="checkbox" name="checkbox"> definition list  </label> <br />
                                            <label class="label"><input type="checkbox" name="checkbox"> All of the given options</label> <br />
                                        </div>
                                    </div>
                                    <div class="pt-2">
                                        <div class="py-2 h5"><b>Q3. Which of the following input control is used for input fields that should contain an e-mail address?</b></div>
                                        <div class="ml-md-3 ml-sm-3 pl-md-5 pt-sm-0 pt-3" id="options">
                                            <label class="label"><input type="radio" name="radio">  email</label> <br />
                                            <label class="label"><input type="radio" name="radio">  url </label>  <br />
                                            <label class="label"><input type="radio" name="radio"> number </label> <br />
                                            <label class="label"><input type="radio" name="radio"> range</label> <br />
                                        </div>
                                    </div>
                                    <div class=" pt-2">
                                        <div class="py-2 h5"><b>Q4.  ___________is not a HTML5 tag.</b></div>
                                        <div class="ml-md-3 ml-sm-3 pl-md-5 pt-sm-0 pt-3" id="options">
                                            <label class="label"><input type="radio" name="radio">   &lt;source&gt; </label> <br />
                                            <label class="label"><input type="radio" name="radio">   &lt;video&gt; </label>  <br />
                                            <label class="label"><input type="radio" name="radio">  &lt;slider&gt;  </label> <br />
                                            <label class="label"><input type="radio" name="radio">  &lt;All of the above&gt;</label> <br />
                                        </div>
                                    </div>
                                    <div class="d-flex align-items-center pt-3">
                                        <div class="ml-auto mr-sm-5"> <button class="btn btn-success" onclick="showScore();">Submit</button> </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div id="surveyContainer"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-lg-4 mb-4">
                <div class="row mb-4">
                    <div class="accordion" id="accordionExample">
                      <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Accordion Item #1
                          </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                          <div class="accordion-body">
                            <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                          </div>
                        </div>
                      </div>
                      <div class="accordion-item">
                        <h2 class="accordion-header" id="headingTwo">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Accordion Item #2
                          </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                          <div class="accordion-body">
                            <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                          </div>
                        </div>
                      </div>
                      <div class="accordion-item">
                        <h2 class="accordion-header" id="headingThree">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            Accordion Item #3
                          </button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                          <div class="accordion-body">
                            <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-12 popular">
                        <div class="card">
                            <div class="card-body">


                                <table class="table-course">
                                    <tbody>
                                        <tr>
                                            <th>Lectures:</th>
                                            <td>20 Lectures</td>
                                        </tr>
                                        <tr>
                                            <th>Language:</th>
                                            <td>English, Arabic</td>
                                        </tr>

                                        <tr>
                                            <th>Duration:</th>
                                            <td>30 Days</td>
                                        </tr>
                                        <tr>
                                            <th>Includes:</th>
                                            <td>Personal support</td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="row " style="position: relative; ">
                    <div class="col-12 col-md-6 col-lg-12 popular">

                        <div class=" card ">

                            <div class="card-header">
                                Course Content
                            </div>


                            <div class="card-body">
                                <h6 class="card-title">
                                    Download
                                </h6>
                                <a href="http://www.okaloosaschools.com/lewis/sites/okaloosaschools.com.lewis/files/users/martinj1/1.%20Introduction%20to%20HTML5.ppt" class=" card-link btn btn-info">
                                    PPT
                                </a>
                                <a href="https://www.peachpit.com/content/images/9780321719614/samplepages/0321719611.pdf" class=" card-link btn btn-outline-info">
                                    TextBook
                                </a>
                            </div>

                        </div>

                    </div>
                </div>

            </div>
        </div>



    </div>
}
else if (Request.Query["coursename"] == "JavaScript")
{
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="mb-40">
                    <img class="w-100 rounded" src="images/courses/07.jpg" alt="">
                </div>

                <h2>JavaScript - For Absolute Beginner</h2>
                <img role="img" src="https://f.ch9.ms/thumbnail/8cad82be-a0f5-4b45-82ec-74567b666b13.png" alt="HTML5 &amp; CSS3 Fundamentals: Development for Absolute&nbsp;Beginners">
                <p>
                    The aim is to show you ‘how’ to create your first web page without spending the entire tutorial focusing too much on the “why.”

                    By the end of this tutorial, you will have the know-how to create a basic website and we hope that this will inspire you to delve further into the world of HTML using our follow-on guides.


                </p>

                <h5 class="program-title">Course program</h5>

                <div id="accordion01" role="tablist" class="course-tab bordered rounded">

                    <div class="tab-padding">
                        <div role="tab" id="collapse02_header">
                            <h6 class="tab-header">
                                <a class="collapsed fw-700" data-toggle="collapse" href="#collapse02" aria-expanded="true" aria-controls="collapse02">

                                    Instructor Contact Information
                                </a>
                            </h6>
                            <span class="author-course">Autor course:<strong> Habiba Bint Mohammad Nazim Khan</strong> </span>
                        </div>
                        <div id="collapse02" class="collapse" role="tabpanel" aria-labelledby="collapse02_header" data-parent="#accordion01">
                            <div class="card-body">

                                Habiba is a developer, instructor, writer, podcaster, and technical evangelist of all things awesome. She is also a Microsoft ASP.NET MVP and ASP Insider. She is often found speaking at user groups and industry events, and in her spare time she enjoys looking for a haystack to hide her prized needle collection.
                            </div>
                        </div>
                    </div>

                    <div class="tab-padding">
                        <div role="tab" id="collapse01_header">
                            <h6 class="tab-header">
                                <a class="fw-700" data-toggle="collapse" href="#collapse01" aria-expanded="true" aria-controls="collapse01">

                                    Objectives
                                </a>
                            </h6>
                        </div>
                        <div id="collapse01" class="collapse show" role="tabpanel" aria-labelledby="collapse01_header" data-parent="#accordion01">
                            <div class="card-body">
                                The aim is to show you ‘how’ to create your first web page without spending the entire tutorial focusing too much on the “why.” By the end of this tutorial, you will have the know-how to create a basic website and we hope that this will inspire you to delve further into the world of HTML using our follow-on guides.
                            </div>
                        </div>
                    </div>


                    <div class="tab-padding">
                        <div role="tab" id="collapse04_header">
                            <h6 class="tab-header">
                                <a class="fw-700" data-toggle="collapse" href="#collapse04" aria-expanded="false" aria-controls="collapse04">

                                    Video Tutorials
                                </a>
                            </h6>
                        </div>
                        <div id="collapse04" class="collapse " role="tabpanel" aria-labelledby="collapse04_header" data-parent="#accordion01">
                            <div class="card-body">


                                <iframe src="https://channel9.msdn.com/Series/HTML5-CSS3-Fundamentals-Development-for-Absolute-Beginners/Embedding-Video-in-HTML5-18/player" width="320" height="187" allowFullScreen frameBorder="0" title="Embedding Video in HTML5 - 18 - Microsoft Channel 9 Video"></iframe>

                                <iframe src="https://channel9.msdn.com/Series/HTML5-CSS3-Fundamentals-Development-for-Absolute-Beginners/Working-with-CSS3-Font-Face-17/player" width="320" height="187" allowFullScreen frameBorder="0" title="Working with CSS3 Font-Face - 17 - Microsoft Channel 9 Video"></iframe>
                                <iframe src="https://channel9.msdn.com/Series/HTML5-CSS3-Fundamentals-Development-for-Absolute-Beginners/Embedding-Video-in-HTML5-18/player" width="320" height="187" allowFullScreen frameBorder="0" title="Embedding Video in HTML5 - 18 - Microsoft Channel 9 Video"></iframe>

                                <iframe src="https://channel9.msdn.com/Series/HTML5-CSS3-Fundamentals-Development-for-Absolute-Beginners/Working-with-CSS3-Font-Face-17/player" width="320" height="187" allowFullScreen frameBorder="0" title="Working with CSS3 Font-Face - 17 - Microsoft Channel 9 Video"></iframe>

                            </div>
                        </div>
                    </div>

                    <div class="tab-padding">
                        <div role="tab" id="collapse03_header">
                            <h6 class="tab-header">
                                <a class="collapsed fw-700" data-toggle="collapse" href="#collapse03" aria-expanded="false" aria-controls="collapse03">

                                    Training Evaultion
                                </a>
                            </h6>

                        </div>
                        <div id="collapse03" class="collapse" role="tabpanel" aria-labelledby="collapse03_header" data-parent="#accordion01">
                            <div class="card-body">
                                <div class="panel-heading card-header">
                                    <h3>

                                        <span style="position: static;">Static Questionnaire</span>

                                    </h3>

                                </div>
                                <div class="container my-1">
                                    <div class=" pt-2">
                                        <div class="py-2 h5"><b>Q1. Which of the following browser supports HTML5 in its latest version?</b></div>
                                        <div class="ml-md-3 ml-sm-3 pl-md-5 pt-sm-0 pt-3" id="options">
                                            <label class="label"><input type="checkbox" name="radio">  Apple Safari </label> <br />
                                            <label class="label"><input type="checkbox" name="radio">  Google Chrome </label>  <br />
                                            <label class="label"><input type="checkbox" name="radio"> Both of the above  </label> <br />
                                            <label class="label"><input type="checkbox" name="radio"> None of the above</label> <br />
                                        </div>
                                    </div>
                                    <div class="pt-2">
                                        <div class="py-2 h5"><b>Q2. What are some of the common lists that can be used when designing a page?</b></div>
                                        <div class="ml-md-3 ml-sm-3 pl-md-5 pt-sm-0 pt-3" id="options">
                                            <label class="label"><input type="checkbox" name="checkbox">  ordered list</label> <br />
                                            <label class="label"><input type="checkbox" name="checkbox">  unordered list </label>  <br />
                                            <label class="label"><input type="checkbox" name="checkbox"> definition list  </label> <br />
                                            <label class="label"><input type="checkbox" name="checkbox"> All of the given options</label> <br />
                                        </div>
                                    </div>
                                    <div class="pt-2">
                                        <div class="py-2 h5"><b>Q3. Which of the following input control is used for input fields that should contain an e-mail address?</b></div>
                                        <div class="ml-md-3 ml-sm-3 pl-md-5 pt-sm-0 pt-3" id="options">
                                            <label class="label"><input type="radio" name="radio">  email</label> <br />
                                            <label class="label"><input type="radio" name="radio">  url </label>  <br />
                                            <label class="label"><input type="radio" name="radio"> number </label> <br />
                                            <label class="label"><input type="radio" name="radio"> range</label> <br />
                                        </div>
                                    </div>
                                    <div class=" pt-2">
                                        <div class="py-2 h5"><b>Q4.  ___________is not a HTML5 tag.</b></div>
                                        <div class="ml-md-3 ml-sm-3 pl-md-5 pt-sm-0 pt-3" id="options">
                                            <label class="label"><input type="radio" name="radio">   &lt;source&gt; </label> <br />
                                            <label class="label"><input type="radio" name="radio">   &lt;video&gt; </label>  <br />
                                            <label class="label"><input type="radio" name="radio">  &lt;slider&gt;  </label> <br />
                                            <label class="label"><input type="radio" name="radio">  &lt;All of the above&gt;</label> <br />
                                        </div>
                                    </div>
                                    <div class="d-flex align-items-center pt-3">
                                        <div class="ml-auto mr-sm-5"> <button class="btn btn-success" onclick="showScore();">Submit</button> </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div id="surveyContainer"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-lg-4 mb-4">
                <div class="row mb-4">
                    <div class="col-12 col-md-6 col-lg-12 popular">
                        <div class="card">
                            <div class="card-body">


                                <table class="table-course">
                                    <tbody>
                                        <tr>
                                            <th>Lectures:</th>
                                            <td>20 Lectures</td>
                                        </tr>
                                        <tr>
                                            <th>Language:</th>
                                            <td>English, Arabic</td>
                                        </tr>

                                        <tr>
                                            <th>Duration:</th>
                                            <td>30 Days</td>
                                        </tr>
                                        <tr>
                                            <th>Includes:</th>
                                            <td>Personal support</td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="row " style="position: relative; ">
                    <div class="col-12 col-md-6 col-lg-12 popular">

                        <div class=" card ">

                            <div class="card-header">
                                Course Content
                            </div>


                            <div class="card-body">
                                <h6 class="card-title">
                                    Download
                                </h6>
                                <a href="#" class=" card-link btn btn-info">
                                    PPT
                                </a>
                                <a href="#" class=" card-link btn btn-outline-info">
                                    TextBook
                                </a>
                            </div>

                        </div>

                    </div>
                </div>

            </div>
        </div>



    </div>
}
else
{
    <label class="alert-info">You select the subject which is not available</label>
}



@section Scripts
{
    <script src="https://www.cssscript.com/demo/convert-xml-json/xmlToJson.js"></script>
    <script src="https://surveyjs.azureedge.net/1.5.8/survey.jquery.min.js"></script>
    <script>

        var xmldata = '<?xml version="1.0" encoding="UTF-8" ?><questions><question><type>radiogroup</type><choices>Yes</choices><choices>No</choices><isRequired>true</isRequired><name>frameworkUsing</name><title>audio tag is used for audio in HTML5?</title></question><question><type>radiogroup</type><choices>Yes</choices><choices>No</choices><isRequired>true</isRequired><name>mvvmUsing</name><title>video tag is used for video in HTML5?</title></question><question><type>checkbox</type><choices>AngularJS</choices><choices>KnockoutJS</choices><choices>React</choices><hasOther>true</hasOther><isRequired>true</isRequired><name>mvvm</name><title>WebSQL is part of HTML 5 specification?</title></question><question><type>comment</type><name>about</name><title>How to delete a local storage data in HTML5?</title></question></questions>';

        $(document).ready(function () {
            var json = xmlToJson.parse(xmldata);
            var surveyJSON = {
                title: "Dynamic Questionnaire using XML", questions: json.questions.question
            };

            Survey.StylesManager.applyTheme("bootstrap");
            var survey = new Survey.Model(surveyJSON);
            $("#surveyContainer").Survey({
                model: survey,
                onComplete: showScore
            });
        })

        function showScore() {
            alert("Thank you for submitting the questions")
        }
    </script>
}
