@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>To Demo of Programming Lanugauge Training Assignment</p>
</div>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-xl-7 col-lg-8">
            <div class="section-tittle text-center mb-55">
                <h2>Our featured courses</h2>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <img role="img" src="https://f.ch9.ms/thumbnail/8cad82be-a0f5-4b45-82ec-74567b666b13.png" alt="HTML5 &amp; CSS3 Fundamentals: Development for Absolute&nbsp;Beginners">
            <p>Computer application</p>
            <h3><a href="/CourseDetail?coursename=HTML5">HTML Introduction</a></h3>
            <p>
                HTML5 is a markup language used for structuring and presenting content on the World Wide Web. It is the fifth and last major HTML version that is a World Wide Web Consortium recommendation. The current specification is known as the HTML Living Standard.
            </p>

            <a href="/CourseDetail?coursename=HTML5" class="border-btn border-btn2">Find out more</a>

        </div>
        <div class="col-lg-4">
            <img role="img" src="https://f.ch9.ms/thumbnail/8cad82be-a0f5-4b45-82ec-74567b666b13.png" alt="HTML5 &amp; CSS3 Fundamentals: Development for Absolute&nbsp;Beginners">
            <p>Programming language</p>

            <h3><a href="/CourseDetail?coursename=CSS3">CSS3 Introduction</a></h3>
            <p>
                Cascading Style Sheets is a style sheet language used for describing the presentation of a document written in a markup language such as HTML. CSS is a cornerstone technology of the World Wide Web, alongside HTML and JavaScript.
            </p>

            <a href="/CourseDetail?coursename=CSS3" class="border-btn border-btn2">Find out more</a>

        </div>
        <div class="col-lg-4">
            <img role="img" src="https://f.ch9.ms/thumbnail/8cad82be-a0f5-4b45-82ec-74567b666b13.png" alt="HTML5 &amp; CSS3 Fundamentals: Development for Absolute&nbsp;Beginners">
            <p>Programming language</p>
            <h3><a href="/CourseDetail?coursename=JavaScript">JavaScript Introduction</a></h3>
            <p>
                JavaScript, often abbreviated as JS, is a programming language that conforms to the ECMAScript specification. JavaScript is high-level, often just-in-time compiled, and multi-paradigm. It has curly-bracket syntax, dynamic typing, prototype-based object-orientation, and first-class functions.
            </p>

            <a href="/CourseDetail?coursename=JavaScript" class="border-btn border-btn2">Find out more</a>

        </div>
    </div>

</div>